<head>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        body {

            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://ssl.p.jwpcdn.com/player/v/8.21.1/jwplayer.js"></script>
</head>

<body>
    <div id="jwplayer"></div>
    <script>
        function getQuery(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        function getSub(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        var link = getQuery('link');
        var sub = getSub('sub');

        var tag;
        //alert(link);
        if (sub != '') {
            var playerInstance = jwplayer('jwplayer');
            function setupVideo() {

                playerInstance.setup({
                    key: "ITWMv7t88JGzI0xPwW8I0+LveiXX9SWbfdmt0ArUSyc=",
                    width: '100%',
                    height: '100%',
                    //sources: firstSource,
                    //file: link,

                    "playlist": [
                        {
                            "file": link,
                            "tracks": [{
                                "kind": "captions",
                                "file": "/assets/" + sub,
                                "label": "Vietnamese",
                                "default": true
                            },
                            ]
                        }
                    ],
                    playbackRateControls: true,
                    playbackRates: [0.5, 0.75, 1, 1.25, 1.5, 2],
                    mute: true,
                    startparam: 'start',
                    primary: 'html5',
                    preload: 'auto',
                    autostart: false,
                    volume: 100,

                    captions: {
                        color: '#fff',
                        fontSize: 18,
                        backgroundOpacity: 0,
                        fontfamily: 'Helvetica',
                        edgeStyle: 'raised'
                    },

                });
                setUpVideoEvent();

            }
        } else {
            var playerInstance = jwplayer('jwplayer');
            function setupVideo() {

                playerInstance.setup({
                    key: "ITWMv7t88JGzI0xPwW8I0+LveiXX9SWbfdmt0ArUSyc=",
                    width: '100%',
                    height: '100%',
                    //sources: firstSource,
                    //file: link,

                    "playlist": [
                        {
                            "file": link,
                        }
                    ],
                    playbackRateControls: true,
                    playbackRates: [0.5, 0.75, 1, 1.25, 1.5, 2],
                    mute: true,
                    startparam: 'start',
                    primary: 'html5',
                    preload: 'auto',
                    autostart: false,
                    volume: 100,

                    captions: {
                        color: '#fff',
                        fontSize: 18,
                        backgroundOpacity: 0,
                        fontfamily: 'Helvetica',
                        edgeStyle: 'raised'
                    },

                });
                setUpVideoEvent();

            }
        }
        this.setUpVideoEvent = function () {
            playerInstance.on("ready", function () {
                if (seekTimeOut != null) {
                    clearTimeout(seekTimeOut);
                }

                if (timeToSeek > 8) seekTimeOut = setTimeout(function () {
                    playerInstance.seek(timeToSeek);

                    manualSeek = false;
                }, 500);

                if (playTimeout != null) {
                    clearTimeout(playTimeout);
                    playTimeout = null;
                }
                playTimeout = setTimeout(function () {
                    playerInstance.play(true);
                    manualSeek = false;
                }, 1000);


            })
                .on("error", function (message) {
                    var time = playerInstance.getPosition();
                    if (time > 8 && (manualSeek == false)) timeToSeek = time;
                    if (reloadTimes < 5) {
                        reloadTimes++;
                        if (message["message"] == "Error loading media: File could not be played") {
                            setTimeout(function () {
                                jQuery("#embed-player").find(".jw-title-primary").text("Có chút vấn đề khi load phim. Đang thử lại...").show();
                            }, 100);
                        }
                        setTimeout(function () {
                            playerInstance.remove();
                            setupVideo();
                        }, 2000);
                    } else {
                        if (message["message"] == "Error loading media: File could not be played") {
                            setTimeout(function () {
                                jQuery("#embed-player").find(".jw-title-primary").text("Có chút vấn đề khi load phim").show();
                                jQuery("#embed-player").find(".jw-title-secondary").text("Chạy lại trang (ấn F5) hoặc mở link khác bên dưới").show();
                            }, 100);
                        }
                    }
                })

                .on("seek", function (event) {
                    manualSeek = true;
                    timeToSeek = event.offset;
                })
                .on("seeked", function (event) {
                    manualSeek = false;
                })
            // Rewind, Forward buttons
            playerInstance.addButton('https://rapidvid.net/ifr/vod/img/fw-10.svg', "next 10s", function () {
                playerInstance.seek(playerInstance.getPosition() + 10);
            }, "next10s");

            playerInstance.addButton("https://rapidvid.net/ifr/vod/img/rw-10.svg", "back 10s", function () {
                playerInstance.seek(playerInstance.getPosition() - 10);
            }, "back10s");
            // var autoNextButton = document.getElementById('auto-next-button');
            // autoNextButton.addEventListener('click', function () {
            //     playerInstance.on('complete', function () {
            //         console.log('Video đã phát hoàn thành.');

            //     });

            // });
        }
        setupVideo();

    </script>
</body>